.cta {
  font-size: 32px;
  box-sizing: border-box;
  height: 64px;
  padding: 6px, 32px, 10px, 32px;
  border-radius: 16px;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.16);
  background: #23232e;
  border: 4px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  width: 193px;
  font-family: "Cartridge";
  z-index: 8;
}

.cta:hover {
  color: rgba(236, 193, 82, 1);
  background: #121217;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.24);
}

.cta:active,
.primary:active {
  background: #ecc152;
  border: 4px solid rgba(18, 18, 23, 0.1);
  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.24);
  color: #121217;
}

.primary {
  font-size: 32px;
  box-sizing: border-box;
  height: 64px;
  padding: 6px, 32px, 10px, 32px;
  border-radius: 16px;
  background: #4242cb;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  width: 193px;
  font-family: "Cartridge";
}

.primary:hover {
  background: #2e2ea8;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.24);
}

.primary:active {
  background: #ecc152;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.24);
  color: #121217;
}

.signOut {
  height: 30px;
  background: rgba(255, 255, 255, 0.32);
  border: 4px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Cartridge";
  color: white;
  padding: 0px 16px 0px 16px;
}

.signOut:hover {
  background: rgba(255, 255, 255, 0.64);
  border: 4px solid #ffffff;
  color: #24242e;
}

.signOut:hover path {
  fill: #cd3030;
}

.signOut:active path {
  fill: #ecc152;
}

.signOut:active {
  background: #24242e;
  border: 4px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.tweet {
  /* width: 124px; */
  height: 48px;
  border-radius: 4px;
  background: rgba(36, 36, 47, 0.16);
  border: 4px solid rgba(36, 36, 47, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  color: white;
}

.tweet:hover {
  background: white;
  color: #1da1f2;
}

.vote,
.vote[disabled]:hover,
.voting,
.voting[disabled]:hover {
  --angle: 180deg;
  width: 145px;
  height: 48px;
  color: white;

  border-radius: 4px;
  background: rgba(36, 36, 47, 0.16);
  /* padding: 0px 16px 0px 24px; */
  /* border: 4px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */
}
.vote {
  border: 4px solid rgba(36, 36, 47, 0.64);
}

.vote:disabled {
  cursor: not-allowed;
}
.voting {
  background-image: conic-gradient(
    #4242cb 0deg,
    #7042cb 28.12deg,
    #9d42cb 69.37deg,
    #cb42cb 108.75deg,
    #c12d90 151.87deg,
    #cd3030 195deg,
    #c12d90 238.12deg,
    #cb42cb 279.38deg,
    #9d42cb 316.87deg,
    #7042cb 343.12deg,
    #4242cb 360deg
  );
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0
      conic-gradient(
        #4242cb 0deg,
        #7042cb 28.12deg,
        #9d42cb 69.37deg,
        #cb42cb 108.75deg,
        #c12d90 151.87deg,
        #cd3030 195deg,
        #c12d90 238.12deg,
        #cb42cb 279.38deg,
        #9d42cb 316.87deg,
        #7042cb 343.12deg,
        #4242cb 360deg
      );
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px
      conic-gradient(
        #4242cb 0deg,
        #7042cb 28.12deg,
        #9d42cb 69.37deg,
        #cb42cb 108.75deg,
        #c12d90 151.87deg,
        #cd3030 195deg,
        #c12d90 238.12deg,
        #cb42cb 279.38deg,
        #9d42cb 316.87deg,
        #7042cb 343.12deg,
        #4242cb 360deg
      );
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0
      conic-gradient(
        #4242cb 0deg,
        #7042cb 28.12deg,
        #9d42cb 69.37deg,
        #cb42cb 108.75deg,
        #c12d90 151.87deg,
        #cd3030 195deg,
        #c12d90 238.12deg,
        #cb42cb 279.38deg,
        #9d42cb 316.87deg,
        #7042cb 343.12deg,
        #4242cb 360deg
      );
  }
}

.vote:hover {
  background: rgba(36, 36, 47, 0.64);
  /* border: 4px solid rgba(36, 36, 47, 0.64); */
}

.add_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  /* width: 190px; */
  font-family: "Cartridge";
  height: 72px;
  background: #4242cb;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  color: white;
  font-size: 32px;
  line-height: 48px;
}

.add_section:hover {
  background: #2e2ea8;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.24);
}

.add_section:active {
  background: #ecc152;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.24);
  color: #121217;
}

/* this is when it is toggled to vote */
.voted {
  width: 145px;
  height: 48px;
  color: #4242cb;
  border: 4px solid rgba(36, 36, 47, 0.1);
  border-radius: 4px;
  background: #ffffff;
  padding: 0px 16px 0px 24px;
}

.voted:hover {
  background: rgba(255, 255, 255, 0.9);
  border: 4px solid white;
}

.addModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Cartridge";
  height: 64px;
  background: #4242cb;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 8px 8px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  color: white;
  font-size: 32px;
  line-height: 48px;
}

/* TODO: add x element change and center the numbers more */
@media (max-width: 700px) {
  .cta {
    font-size: 24px;
    width: 144.75px;
    height: 48px;
  }
  .primary {
    font-size: 24px;
    width: 144.75px;
    height: 48px;
  }
}

@media (max-width: 900px) {
  .tweet {
    width: 32px;
    height: 32px;
    padding: 0;
    justify-content: center;
    /* height: 32px; */
    border: 4px solid rgba(36, 36, 47, 0.1);
  }
  .vote {
    width: 92px;
    height: 32px;
    border: 4px solid rgba(36, 36, 47, 0.64);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .voted {
    width: 92px;
    height: 32px;
    border: 4px solid rgba(36, 36, 47, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
  }
}
