.main {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: #4242cb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboveBG {
  max-width: 100vw;
  position: absolute;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  background: linear-gradient(
    to bottom,
    #4242cb 0%,
    #4242cb 1%,
    #20202a 0%
  ); /*'gradient' gets rid of dotted black line at top bug*/
  width: 400vw;
  height: 3040px;
  overflow: hidden;
  position: relative;
  background-position-y: -10;
}

.background::before {
  transform: rotate(-2deg);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400vw;
  height: 3040px;
  background-size: cover;
  background-repeat: repeat-x;
  background: url('../public/hero-background-repeat.png');
  background-color: repeating-linear-gradient(
    to bottom,
    #3a3a44 0px,
    #3a3a44 80px,
    #24242f 80px,
    #24242f 160px
  );
}

.header {
  transform: rotate(-2deg);
  font-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 24px 0px;
  line-height: 72px;
  font-family: 'Cartridge';
  font-feature-settings: 'ss02' on;
  -webkit-font-smoothing: antialiased;
  text-shadow: -6px -6px 0 #491849, 0 -6px 0 #491849, 6px -6px 0 #491849,
    6px 0 0 #491849, 6px 6px 0 #491849, 0 6px 0 #491849, -6px 6px 0 #491849,
    -6px 0 0 #491849;
}

.title {
  max-width: 1000px;
  margin: 24px;
}

.titleLong {
  max-width: 1260px;
  margin: 24px;
}

.title span {
  display: inline-block;
}

.headerContainerA,
.headerContainerB,
.headerContainerC,
.headerContainerD {
  /* margin-left: 7px; 2 * 100px * tan(2deg) */

  padding-top: 0px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainerA {
  margin-top: -100px;
}

.headerContainerB {
  margin-top: 110px;
}

.headerContainerC,
.headerContainerD {
  margin-top: 470px;
}
.headerButtonGroup {
  transform: rotate(-2deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 125px;
}

@media (max-width: 650px) {
  .header {
    font-size: 32px;
    line-height: 40px;
    text-shadow: -4px -4px 0 #491849, 0 -4px 0 #491849, 4px -4px 0 #491849,
      4px 0 0 #491849, 4px 4px 0 #491849, 0 4px 0 #491849, -4px 4px 0 #491849,
      -4px 0 0 #491849;
  }
  .background {
    height: 1900px;
    background-size: contain;
  }
  .background::before {
    height: 1900px;
    background-size: contain;
  }
  .header {
    padding-bottom: 0px;
  }

  .headerContainerA {
    margin-top: -36.84px;
  }

  .headerContainerB {
    margin-top: 40.53px;
  }

  .headerContainerC,
  .headerContainerD {
    margin-top: 173.16px;
  }

  .headerButtonGroup {
    height: 100px;
  }
}
