.leaderboard {
  font-family: 'Cartridge';
  font-feature-settings: 'ss01';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b23;
}

.text {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 0px #421e0e, 1px 1px #421e0e, 2px 2px #421e0e,
    3px 3px #421e0e, 4px 4px #421e0e, 5px 5px #421e0e, 6px 6px #421e0e,
    7px 7px #421e0e, 8px 8px #421e0e, 9px 9px #421e0e, 10px 10px #421e0e,
    11px 11px #421e0e, 12px 12px #421e0e, 13px 13px #421e0e, 14px 14px #421e0e,
    15px 15px #421e0e, 16px 16px #421e0e, 17px 17px #421e0e, 18px 18px #421e0e,
    19px 19px #421e0e, 20px 20px #421e0e, 21px 21px #421e0e, 22px 22px #421e0e,
    23px 23px #421e0e, 24px 24px #421e0e, 25px 25px #421e0e, 26px 26px #421e0e,
    27px 27px #421e0e, 28px 28px #421e0e, 29px 29px #421e0e, 30px 30px #421e0e,
    31px 31px #421e0e, 32px 32px #421e0e, 33px 33px #421e0e, 34px 34px #421e0e,
    35px 35px #421e0e, 36px 36px #421e0e, 37px 37px #421e0e, 38px 38px #421e0e,
    39px 39px #421e0e, 40px 40px #421e0e, 41px 41px #421e0e, 42px 42px #421e0e,
    43px 43px #421e0e, 44px 44px #421e0e, 45px 45px #421e0e, 46px 46px #421e0e,
    47px 47px #421e0e, 48px 48px #421e0e, 49px 49px #421e0e, 50px 50px #421e0e,
    51px 51px #421e0e, 52px 52px #421e0e, 53px 53px #421e0e, 54px 54px #421e0e,
    55px 55px #421e0e, 56px 56px #421e0e, 57px 57px #421e0e, 58px 58px #421e0e,
    59px 59px #421e0e, 60px 60px #421e0e, 61px 61px #421e0e, 62px 62px #421e0e,
    63px 63px #421e0e, 64px 64px #421e0e, 65px 65px #421e0e, 66px 66px #421e0e,
    67px 67px #421e0e, 68px 68px #421e0e, 69px 69px #421e0e, 70px 70px #421e0e,
    71px 71px #421e0e, 72px 72px #421e0e, 73px 73px #421e0e, 74px 74px #421e0e,
    75px 75px #421e0e, 76px 76px #421e0e, 77px 77px #421e0e, 78px 78px #421e0e;
  background: linear-gradient(
    to bottom,
    #ecc152 0%,
    #ecc152 33.33%,
    #db8740 0%,
    #db8740 66.66%,
    #d95559 0%
  );
  overflow-y: hidden;

  width: 100%;
}

.text h2 {
  font-family: 'Cartridge';
  font-size: 64px;
  margin-bottom: 4px;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  height: 9vh;
  width: 100vw;
  position: relative;
}

.leaderboardContainer {
  display: flex;
  flex-direction: column;
  max-width: 1216px;
  width: 100%;
  align-items: center;
  padding: 32px 36px;
  background-color: #24242e;
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.leaderboardInstructions {
  background-color: #ecc152;
  font-family: 'Cartridge';
  font-weight: 400;
  font-feature-settings: 'ss03';
  color: #121217;
  font-size: 24px;
  border-radius: 4px;
  padding: 4px 16px 2px 16px;
}

.leaderboardLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 16px 0px;
  font-size: 24px;
}

.leaderboardLabelsLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0px;
}

.leaderboardList {
  width: 100%;
  color: white;
  font-size: 32px;
}

.leaderboardItem {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.leaderboardItemGroup {
  display: flex;
  flex-direction: row;
}

.leaderboardItemIndex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40px;
  margin-left: 8px;
}

.leaderboardItemImgContainer {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 1px;
  margin: 0px 32px;
}

@media (max-width: 650px) {
  .text h2 {
    font-size: 32px;
  }
}
