.mainTitle {
  background: #24242e;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footNoteText {
  color: #adadb0;
  justify-content: right;
  background-color: #1b1b23;
  border-radius: 4px;
  text-align: center;
}

.footnote {
  background: #24242e;
  display: flex;
  justify-content: right;
  height: 2rem;
  top: 1rem;
}
