/* @keyframes ticker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
} */

.marqueeContainer {
  width: 100vw;
  transform: rotate(-2deg);
}

.marquee {
  margin-top: calc(1120px / 14);
  margin-bottom: calc(1.5 * 1120px / 14);
  height: calc(1120px / 14);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Cartridge';
  font-feature-settings: 'ss01';
  overflow: hidden;
  /* animation: ticker linear 15s infinite; */
}

.staticMarquee {
  margin-bottom: 50px;
  margin-left: -5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile {
  height: 48px;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  margin-right: 14px;
  /* justify-content: center; */
  /* align-items: center; */
}

.idx {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  padding: 3px 9.5px;
  align-items: center;
}

.image {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: 6px;
  align-items: center;
}

.company {
  display: flex;
  color: white;
  height: 36px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5px 12px;
  margin: 0px 6px;
  white-space: nowrap;
  align-items: center;
}

.count {
  display: flex;
  color: white;
  height: 36px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5px 10px;
  white-space: nowrap;
  align-items: center;
}

@media (max-width: 700px) {
  .marquee {
    height: calc(700px / 14);
    margin-top: calc(700px / 14);
    margin-bottom: calc(1.5 * 700px / 14);
  }
  .tile {
    height: 32px;
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;
  }
  .idx {
    border-radius: 4px;
    padding: 1px 9.5px;
  }
  .image {
    height: 24px;
    width: 24px;
    border-radius: 4px;
    margin-left: 4px;
  }
  .company {
    margin: 0px 4px;
    border-radius: 4px;
    padding: 1px 8px;
    height: 24px;
  }
  .count {
    border-radius: 4px;
    padding: 1px 8px;
    height: 24px;
  }
}
