.marquee {
  margin-top: calc(1120px / 14);
  margin-bottom: calc(1.5 * 1120px / 14);
  height: calc(1120px / 14);
  background-color: white;
  display: flex;
  flex-direction: row;
}

.tile {
  height: 48px;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .marquee {
    height: calc(700px / 14);
    margin-top: calc(700px / 14);
    margin-bottom: calc(1.5 * 700px / 14);
  }
  .tile {
    height: 32px;
    border-radius: 4px;
    padding: 4px;
  }
}
