.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.modal {
  width: 100%;
  max-width: 800px;
  background: #24242e;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  top: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  padding: 34px;
}

.closeX {
  cursor: pointer;
}

.signIn {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cartridge';
}

.text {
  font-family: 'Cartridge';
  color: white;
  font-size: 72px;
  line-height: 72px;
}

.textAddApp {
  font-family: 'Cartridge';
  color: white;
  font-size: 48px;
  line-height: 48px;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  text-shadow: -6px -6px 0 #000, 0 -6px 0 #000, 6px -6px 0 #000, 6px 0 0 #000,
    6px 6px 0 #000, 0 6px 0 #000, -6px 6px 0 #000, -6px 0 0 #000;
}

.button {
  padding: 54px 0px 64px 0px;
}

.companySelector {
  display: flex;
  flex-direction: row;
  width: 675px;
  justify-content: space-between;
  align-self: center;
}

.selectCancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cd3030;
  height: 98px;
  width: 98px;
  cursor: pointer;
  border-radius: 8px;
}

.companyAutoOption,
.companyOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  /* width: calc(100%-20px); */
  padding: 16px;
  background: #ffffff;
  /* box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25); */
}

.companyOption {
  width: 560px;
  border-radius: 8px;
  height: 98px;
}

.companyAutoOption {
  width: 678px;
}

.companyAutoOptionLogo {
  width: 64px;
  height: 64px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10.6667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
}

.companyAutoOptionText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: 'Cartridge';
  color: #24242f;
  margin-left: 18px;
  padding: 6px 0px;
}

.companyAutoOptionLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.companyAutoOptionName {
  font-size: 32px;
  line-height: 32px;
}

.companyAutoOptionDomain {
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  padding-top: 4px;
}

.companyAutoOptionVoted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cartridge';
  color: white;
  font-size: 24px;
  line-height: 29px;
  padding: 3.75px 10px 5px 10px;
  width: 92px;
  align-self: center;
  background-color: #4242cb;
  border-radius: 6px;
}

.companyImage {
  padding-left: 1rem;
}

.addBtnContainer {
  padding: 33px 0px 64px 0px;
  width: 678px;
  align-self: center;
}

@media (max-width: 700px) {
  .companySelector {
    width: calc(100vw - 40px);
  }

  .companyOption {
    width: calc(100vw - 40px);
  }

  .selectCancel {
    position: absolute;
    transform: scale(0.7);
    right: 20px;
    height: 30px;
    width: 30px;
  }
  .textAddApp {
    height: 208px;
    font-size: 36px;
  }

  .addBtnContainer,
  .companyAutoOption {
    width: calc(100vw - 20px);
  }
}

@media (max-width: 400px) {
  .textAddApp {
    font-size: 28px;
  }
}
