.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.modal {
  width: 100%;
  max-width: 800px;
  background: #24242E;
box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
border-radius: 16px;
  top: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  padding: 40px;
}

.closeX {
  cursor: pointer;
}

.signIn {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cartridge';
}

.text {
  font-family: 'Cartridge';
  color: white;
  font-size: 72px;
  line-height: 72px;
}


.textAddApp {
  font-family: 'Cartridge';
  color: white;
  font-size: 48px;
  line-height: 48px;
  padding: 2rem; 
  -webkit-font-smoothing: antialiased;
  text-shadow: -6px -6px 0 #000, 0 -6px 0 #000, 6px -6px 0 #000,
    6px 0 0 #000, 6px 6px 0 #000, 0 6px 0 #000, -6px 6px 0 #000,
    -6px 0 0 #000;
}

.button {
  padding: 54px 0px 64px 0px;
}
