.tweetGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Cartridge';
  max-width: 837px;
  margin-top: 24px;
}

.tweetGridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  max-width: 1216px;
  background-color: #24242e;
  padding-bottom: 96px;
  margin-bottom: 32px;
}

.tweetCol {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweetPanel {
  display: flex;
  flex-direction: column;
  background: #383842;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* align-items: flex-start; */
  color: white;
  margin: 8px 12px;
  padding: 16px;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 16px;
}

.tweetBody {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  justify-content: flex-start;
  margin-top: 8px;
}

.tweetBody strong {
  font-weight: 400;
  color: #bc5892;
}

.tweetIcon {
  opacity: 0.54;
  margin-top: 3px;
  filter: invert(100%);
}

.tweetPanel:hover {
  background: #26262c;
}
.tweetPanel:hover .tweetHeader,
.tweetPanel:hover .tweetBody strong {
  color: #55acee;
  opacity: 1;
}

.tweetPanel:hover .tweetIcon {
  filter: invert(74%) sepia(38%) saturate(4499%) hue-rotate(178deg)
    brightness(98%) contrast(91%);
  opacity: 1;
  color: black;
}

@media (max-width: 650px) {
  .tweetGrid,
  .tweetCol {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }
  .tweetGrid::-webkit-scrollbar,
  .tweetCol::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .tweetCol {
    overflow: visible;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
  }
  .tweetPanel {
    width: calc(100vw - 24px);
  }
}

@media (min-width: 651px) {
  .tweetCol {
    width: 50%;
  }
}
