* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cartridge';
  src: url('/fonts/Cartridge/Cartridge-Regular.ttf');
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0%;
}

html,
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  font-feature-settings: 'ss01';
  background-color: #1b1b23;
  scroll-behavior: smooth;
}

.home {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-autosuggest__input {
  width: 678px;
  height: 96px;
  margin-top: 8px;
  padding: 16px 32px;
  font-family: 'Cartridge';
  font-feature-settings: 'ss03';
  font-weight: 300;
  font-size: 40px;
  border: 1px solid #aaa;
  border-radius: 4px;
  align-self: center;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 678px;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  /* height: 430px;  */
  width: 678px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 999;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  /* padding: 2px 5px; */
  border: none;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  color: #fff;
}

.react-autosuggest__suggestions-container--open {
  /* display: block; */
  position: relative;
  margin: 0 auto;
  margin-top: calc(50vh + 60px);
  height: 400px;
  left: calc(50% - 678px / 2);
  float: center;
  overflow-y: scroll;
}

@media (max-width: 700px) {
  .react-autosuggest__container--open
    .react-autosuggest__suggestions-container {
    height: 30vh;
  }
  .react-autosuggest__container--open,
  .react-autosuggest__suggestions-container,
  .react-autosuggest__suggestions-container--open,
  .react-autosuggest__container--open,
  .react-autosuggest__container {
    width: calc(100vw - 102px);
    left: 0;
  }

  .react-autosuggest__container {
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .react-autosuggest__input,
  .react-autosuggest__input--focused,
  .react-autosuggest__input--open,
  .react-autosuggest__suggestion,
  .react-autosuggest__suggestions-list {
    width: calc(100vw - 34px);
  }

  .react-autosuggest__suggestions-list {
    border-radius: 8px;
  }

  .react-autosuggest__suggestions-container--open {
    margin-top: calc(30px);
    border-radius: 8px;
    left: 16px;
    height: 20vh;
    max-width: calc(100vw - 32px);
  }

  .react-autosuggest__input,
  .react-autosuggest__input--focused,
  .react-autosuggest__input--open {
    font-size: 20px;
    height: 48px;
    border-radius: 5px;
    padding-left: 16px;
  }
}
